@charset "UTF-8";
.header {
  position: relative;
  padding-top: 15px;
  z-index: 30;
  background: transparent;
}
.header__desc {
  font-size: 14px;
  color: #353535;
  line-height: 1.4;
}
.header__input {
  padding: 16px;
  width: 100%;
  border-radius: 30px;
  background: #f2f3f7;
  border: none;
  height: 47px;
}
.header__input::-webkit-input-placeholder {
  color: #cbcbcf;
}
.header__input::-moz-placeholder {
  color: #cbcbcf;
}
.header__input:-ms-input-placeholder {
  color: #cbcbcf;
}
.header__input::-ms-input-placeholder {
  color: #cbcbcf;
}
.header__input::placeholder {
  color: #cbcbcf;
}
.header__ic {
  width: 22px;
  height: 22px;
  fill: #005684;
}
.header__btn {
  border: none;
  background: transparent;
  margin-left: -50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.6;
}
.header__btn:hover {
  opacity: 1;
}
.header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header .phone-icon {
  width: 47px;
  height: 47px;
  background: #f2f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
.header .ic_header {
  width: 14px;
  height: 19px;
  fill: #005684;
}
.header .phone-link {
  font-family: "Akrobat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #353535;
  display: block;
  letter-spacing: 1px;
}
.header .phone-link:hover {
  color: #353535;
}
.header .phone-call {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 3px;
  border-bottom: 1px dotted #005684;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}
.header__menu {
  margin-top: 70px;
}

.header-page .header__menu {
  position: relative;
  margin-top: 33px;
}
.header-page .header__menu::before {
  content: "";
  height: 70px;
  background: #005684;
  width: 300%;
  position: absolute;
  left: -1000px;
  top: -16px;
}

@media only screen and (max-width: 990px) {
  .header {
    background: #fff;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  .header__menu {
    margin-top: 0px;
  }
  .header__desc {
    font-size: 9px;
  }
  .header__logo img {
    max-width: 100px;
  }

  .toggle-mnu {
    margin-top: 5px !important;
  }

  .home-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header-page .header__menu {
    position: relative;
    margin-top: 5px;
  }
}
.round {
  position: absolute;
  width: 670px;
  height: 670px;
  bottom: -20%;
  border-radius: 50%;
  border: 120px solid #006384;
  display: block;
  z-index: 1;
}

.pseudo::after {
  content: "";
  position: absolute;
  width: 12000px;
  height: 1px;
  background: #fff;
  opacity: 0.4;
  right: 0;
  top: 90px;
}

.main-slider {
  position: relative;
  z-index: 10;
  background: #005684;
  margin-top: -90px;
  padding-top: 60px;
  height: 657px;
  overflow: hidden;
}
.main-slider h1 {
  font-family: "Akrobat", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 44px;
  color: #fff;
  padding-top: 80px;
  margin-bottom: 20px;
  padding-right: 60px;
  position: relative;
  z-index: 10;
}
.main-slider p {
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  position: relative;
  z-index: 10;
}

.slider-wrp {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  z-index: 10;
}

.relative {
  position: relative;
  z-index: 10;
}
.relative img {
  height: 657px;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn-more {
  position: absolute;
  left: 0;
  bottom: 160px;
  color: #fff;
  background: #044162;
  padding: 30px 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Akrobat", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.btn-more .ic_btn {
  width: 21px;
  height: 15px;
  fill: #fff;
}
.btn-more:hover {
  background: #03314a;
  color: #fff;
}

@media only screen and (max-width: 1208px) {
  .main-slider h1 {
    font-size: 36px;
    line-height: 1.3;
  }
  .main-slider p {
    font-size: 18px;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 992px) {
  .main-slider h1 {
    margin-top: 40px;
  }
  .main-slider p {
    margin-bottom: 40px;
  }

  .btn-more {
    bottom: 0px;
    right: 0;
    left: auto;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 400;
  }
  .btn-more .ic_btn {
    width: 21px;
    height: 15px;
    fill: #fff;
  }
}
@media only screen and (max-width: 768px) {
  .main-slider {
    height: auto;
    width: 100%;
  }

  .slider-wrp {
    position: relative;
    width: 100%;
    height: auto;
  }

  .relative {
    position: relative;
  }
  .relative img {
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .main-slider h1 {
    font-size: 20px;
    padding-right: 0;
  }
  .main-slider p {
    font-size: 14px;
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  background-color: #fff;
}

.footer {
  margin-top: auto;
  padding: 40px 0;
  background: #003a59;
}
.footer__logos img {
  margin-bottom: 40px;
}
.footer__title {
  font-family: "Akrobat", sans-serif;
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.footer__phones {
  margin-bottom: 30px;
}
.footer__phone {
  display: block;
  font-family: "Akrobat", sans-serif;
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer__ws {
  margin-bottom: 20px;
}
.footer__ws a {
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
}
.footer__ws a:hover {
  opacity: 1;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.footer__contact a {
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 15px;
  display: block;
  line-height: 1.4;
}
.footer__contact a:hover {
  opacity: 1;
}
.footer__ic {
  width: 17px;
  height: 17px;
  fill: #c76868;
  margin-right: 10px;
  margin-top: 5px;
}
.footer__menu {
  margin-bottom: 30px;
}
.footer__menu a {
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 15px;
  display: block;
  line-height: 1.4;
}
.footer__menu a:hover {
  opacity: 1;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__privacy {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
  line-height: 1.4;
}
.footer__delosait {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.footer__delosait a {
  font-size: 12px;
  opacity: 0.5;
  color: #fff;
}
.footer__delosait a:hover {
  opacity: 1;
}

@media only screen and (max-width: 560px) {
  .footer__privacy {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .footer__delosait {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .footer__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .footer__menu a {
    font-size: 14px;
    line-height: 1.3;
  }
  .footer__phone {
    font-size: 20px;
  }
  .footer__contact a {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .footer__ic {
    margin-top: 0;
  }
}
/*
Мои стили
*/
.sf-menu > li {
  background: transparent !important;
}

.small-sub > li > a {
  color: #282828 !important;
}

.small-sub > li {
  border-bottom: 1px solid #ececec !important;
}

.header__menu {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .lines {
    display: none;
  }
}
.wrapper {
  position: relative;
}

.header-wrap {
  position: relative;
}

.mm-menu {
  z-index: 90;
}

.sf-menu {
  position: static;
  float: none;
}

.sf-menu li {
  white-space: normal;
  position: static;
}

.sf-menu li a {
  font-size: 17px;
  font-weight: 400;
}
.sf-menu li a:hover {
  color: #005684;
}

.home-menu .sf-menu li a {
  color: #fff;
}

.sf-menu > li > ul {
  width: 220px;
  left: auto;
  background: #fff !important;
}

.sf-menu > li > ul li .sf-with-ul::after {
  font-family: "FontAwesome";
  content: "\f105";
  right: 1em;
  position: absolute;
}

.dropdwn:after {
  font-family: "FontAwesome";
  content: "\f105";
  right: 25px;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 13px;
  top: 13px;
}

.responsive-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
}

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #666;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  float: left;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}

.sf-menu a {
  color: #333;
  background: transparent;
  font-weight: 700;
}

.sf-menu > li {
  background: transparent;
}

.sf-menu > li > a {
  padding: 10px 40px 30px 0;
  border-bottom: 5px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #333;
  font-size: 18px;
  background: transparent;
}

.sf-menu > li > a + * {
  border-top: #044162 solid 5px;
}

.header-page .sf-menu > li > a + * {
  border-top: #c76868 solid 5px;
}
.header-page .small-sub {
  margin-top: -5px !important;
}

.sf-menu > li > a + * a {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sf-menu > li > a + * a:hover {
  color: #005684;
}

.sf-menu > li:hover > a {
  background-color: transparent;
}

.sf-menu li:hover {
  background: transparent;
  border: none;
}

.sf-menu li {
  background: transparent;
  border: none;
}

.sf-menu > li > a {
  border: none !important;
}

.sf-menu .container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.sf-menu .row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.sf-menu .col-lg-1,
.sf-menu .col-lg-10,
.sf-menu .col-lg-11,
.sf-menu .col-lg-12,
.sf-menu .col-lg-2,
.sf-menu .col-lg-3,
.sf-menu .col-lg-4,
.sf-menu .col-lg-5,
.sf-menu .col-lg-6,
.sf-menu .col-lg-7,
.sf-menu .col-lg-8,
.sf-menu .col-lg-9,
.sf-menu .col-md-1,
.sf-menu .col-md-10,
.sf-menu .col-md-11,
.sf-menu .col-md-12,
.sf-menu .col-md-2,
.sf-menu .col-md-3,
.sf-menu .col-md-4,
.sf-menu .col-md-5,
.sf-menu .col-md-6,
.sf-menu .col-md-7,
.sf-menu .col-md-8,
.sf-menu .col-md-9,
.sf-menu .col-sm-1,
.sf-menu .col-sm-10,
.sf-menu .col-sm-11,
.sf-menu .col-sm-12,
.sf-menu .col-sm-2,
.sf-menu .col-sm-3,
.sf-menu .col-sm-4,
.sf-menu .col-sm-5,
.sf-menu .col-sm-6,
.sf-menu .col-sm-7,
.sf-menu .col-sm-8,
.sf-menu .col-sm-9,
.sf-menu .col-xs-1,
.sf-menu .col-xs-10,
.sf-menu .col-xs-11,
.sf-menu .col-xs-12,
.sf-menu .col-xs-2,
.sf-menu .col-xs-3,
.sf-menu .col-xs-4,
.sf-menu .col-xs-5,
.sf-menu .col-xs-6,
.sf-menu .col-xs-7,
.sf-menu .col-xs-8,
.sf-menu .col-xs-9 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.menu-new-item p {
  font-size: 14px;
  color: #666;
}

.sf-menu > li > a + * .menu-new-item a {
  border-bottom: none;
}

.home-menu .sf-menu > li > a + * .menu-new-item a {
  color: #fff;
}

.sf-menu > li > a + * .menu-new-item a:hover {
  color: #333;
}

.mega-sub img {
  display: inline-block;
  margin-right: 10px;
  max-width: 30px;
  height: auto;
}

.small-sub img {
  display: inline-block;
  margin-right: 10px;
  max-width: 30px;
  height: auto;
}

.mega-sub a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.small-sub a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile_item {
  display: none;
}

html.mm-pagedim.mm-opening #mm-blocker,
html.mm-pagedim-white.mm-opening #mm-blocker,
html.mm-pagedim-black.mm-opening #mm-blocker {
  opacity: 0.3;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
html.mm-pagedim.mm-opening #mm-blocker::after,
html.mm-pagedim-white.mm-opening #mm-blocker::after,
html.mm-pagedim-black.mm-opening #mm-blocker::after {
  content: "";
  background: url(../img/ic-close.svg) no-repeat 0 0;
  color: #fff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 99999;
  top: 10px;
  left: -30px;
}

@media only screen and (max-width: 990px) {
  .on {
    position: fixed;
    left: 0;
    top: 0;
    width: 20px;
    background: #00000073;
    margin-top: 30px;
    height: 20px;
    color: #fff;
    padding-left: 3px;
    display: none;
  }
  .on span:after,
.on span:before {
    background-color: #fff;
  }

  .header_wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: fixed;
    right: 15px;
  }

  .top-menu_block,
.search_block {
    display: none;
  }

  .dropdwn:after {
    display: none;
  }

  .mobile_item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .top-mnu ul {
    display: none;
  }

  .header-wrap {
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 991px) {
  .toggle-mnu {
    display: none;
  }

  .toggle-mnu,
#mobile-menu,
html.mm-blocking #mm-blocker {
    display: none;
  }

  html.mm-opening .mm-slideout {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.mega-sub {
  top: 0px !important;
}

.toggle-mobile {
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 0;
  display: none;
}

@media only screen and (max-width: 991px) {
  .fixed .toggle-mobile {
    display: inline-block;
  }
}
.slider-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -160px;
  position: relative;
  z-index: 60;
}

.slider-nav {
  -ms-flex-preferred-size: 83%;
  flex-basis: 83%;
  position: relative;
  z-index: 90;
}

.slider-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 17%;
  flex-basis: 17%;
  background: #005684;
  padding: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Akrobat", sans-serif;
  font-size: 19px;
}
.slider-icon:hover {
  background: #00456b;
  color: #fff;
}
.slider-icon .ic_cat {
  width: 68px;
  height: 68px;
  fill: #fff;
  margin-bottom: 20px;
}

.slick-list {
  padding: 0 !important;
}

.f20 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  cursor: pointer;
}

.pic {
  height: 228px;
  padding: 30px 10px;
  background: #eef0f4;
}
.pic img {
  height: 112px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 20px;
}

.pic-dark {
  background: #e0e1eb;
}

.nav-title {
  font-size: 19px;
  font-weight: 600;
  font-family: "Akrobat", sans-serif;
}

@media only screen and (max-width: 992px) {
  .slider-pic {
    margin-top: 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .slider-icon {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 19px;
  }
  .slider-icon .ic_cat {
    width: 28px;
    height: 28px;
    fill: #fff;
    margin-bottom: 0px;
    margin-right: 15px;
  }

  .slider-nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 768px) {
  * {
    min-height: 0;
    min-width: 0;
  }

  .slider-pic {
    overflow: hidden;
    z-index: 90;
    position: relative;
  }

  .f20 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .arrows {
    position: absolute;
    z-index: 9999;
    bottom: 0;
  }

  .slick-prev3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 52px;
    height: 48px;
    border: none;
    background: #005684;
    color: #fff;
  }
  .slick-prev3 .fa::before {
    content: "\f104";
  }

  .slick-next3 {
    position: absolute;
    left: 53px;
    bottom: 0;
    width: 48px;
    height: 48px;
    border: none;
    background: #005684;
    color: #fff;
  }
  .slick-next3 .fa::before {
    content: "\f105";
  }
}
.mobile_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.mobile_buttons a {
  background: #005684;
  width: 30px;
  height: 30px !important;
  margin-right: 2px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}
.mobile_buttons .ic_mob {
  width: 15px;
  height: 15px;
  fill: #fff;
}

.block-title {
  font-family: "Akrobat", sans-serif;
  font-size: 47px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.block-txt {
  color: #5b5b5b;
  line-height: 1.5;
  margin-bottom: 30px;
}

.services {
  padding: 90px 0 0 0;
}
.services__slider {
  margin-right: -50%;
}

.ser-sl {
  margin: 0 1px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.ser-sl:hover .ic_serv {
  padding-left: 10px;
  width: 30px;
}
.ser-sl:hover {
  opacity: 0.9;
}
.ser-sl img {
  width: 100%;
  height: 431px;
  -o-object-fit: cover;
  object-fit: cover;
}

.service__info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 60px 15px 40px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  width: 100%;
}

.service__title {
  font-family: "Akrobat", sans-serif;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.ic_serv {
  width: 20px;
  height: 12px;
  fill: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.service__lnk {
  color: #fff;
  opacity: 0.8;
}
.service__lnk:hover {
  opacity: 1;
  color: #fff;
}
.service__lnk:hover .ic_serv {
  padding-left: 10px;
  width: 30px;
}

.services__arrows,
.l-arrows {
  margin-bottom: 15px;
}
.services__arrows .pr-prev,
.l-arrows .pr-prev {
  width: 50px;
  height: 50px;
  background: #005684;
  color: #fff;
  border: none;
  margin-right: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.services__arrows .pr-prev:hover,
.l-arrows .pr-prev:hover {
  background: #00456b;
}
.services__arrows .pr-next,
.l-arrows .pr-next {
  width: 50px;
  height: 50px;
  background: #005684;
  color: #fff;
  border: none;
}
.services__arrows .pr-next:hover,
.l-arrows .pr-next:hover {
  background: #00456b;
}

@media only screen and (max-width: 1200px) {
  .services {
    padding: 30px 0;
  }
  .services__slider {
    margin-right: 0;
  }

  .block-title {
    font-size: 36px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .block-txt {
    font-size: 14px;
  }

  .block-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .ser-sl img {
    width: 100%;
    height: 231px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.tizers {
  padding: 90px 0;
  background: #fcfcfc;
}

.tizer {
  margin-bottom: 20px;
  text-align: center;
}

.tizer__icon {
  width: 50px;
  height: 60px;
  fill: #c56363;
  margin-bottom: 30px;
}

.tizer__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.4;
}

.tizer-dscr {
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .tizer__icon {
    margin-bottom: 15px;
  }

  .tizers {
    padding: 30px 0;
    background: #fcfcfc;
  }

  .tizer__title {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
  }

  .tizer-dscr {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0;
  }
}
.latest {
  padding: 90px 0;
}

.btn-transparent {
  font-family: "Akrobat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 23px 50px;
  border: 1px solid #005684;
  background: transparent;
  color: #282828;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn-transparent:hover {
  background: #005684;
  color: #fff;
}
.btn-transparent:hover .ic_btntr {
  fill: #fff;
}

.ic_btntr {
  width: 45px;
  height: 20px;
  fill: #282828;
}

.catalog_slider {
  margin: 0 -10px;
}

.lcard {
  margin: 10px;
  border: 1px solid #ececec;
}
.lcard__img {
  margin-bottom: 20px;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.lcard__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.lcard__img:hover {
  opacity: 0.9;
}
.lcard__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 40px;
}
.lcard__left {
  font-size: 11px;
  color: #5b5b5b;
}
.lcard__right {
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 11px;
}
.lcard__right--green {
  background: #0da405;
}
.lcard__right--red {
  background: #c76868;
}
.lcard__title {
  display: block;
  font-family: "Akrobat", sans-serif;
  font-size: 24px;
  color: #282828;
  margin-bottom: 10px;
  padding: 0 15px;
  line-height: 1.3;
  height: 62px;
  overflow: hidden;
}
.lcard__title:hover {
  color: #005684;
}
.lcard__char {
  margin-bottom: 20px;
}
.lcard__char ul {
  padding: 0 15px;
  color: #5b5b5b;
  line-height: 1.6;
  font-size: 14px;
}
.lcard__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #005684;
  color: #fff;
  padding: 25px 20px;
  font-family: "Akrobat", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}
.lcard__btn .ic_latest {
  width: 30px;
  height: 20px;
  fill: #fff;
}
.lcard__btn:hover {
  background: #00456b;
  color: #fff;
}

.ccard {
  margin: 10px 0px;
}

@media only screen and (max-width: 576px) {
  .btn-transparent {
    font-size: 18px;
    font-weight: 600;
    padding: 18px 30px;
    margin-bottom: 20px;
    width: 100%;
  }
}
.heading {
  background: #003a59;
  padding: 30px 0px 90px 0;
  margin-top: -4px;
}
.heading h1 {
  font-family: "Akrobat", sans-serif;
  font-size: 38px;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 15px;
  color: #ffffffa6;
}
.breadcrumbs li a {
  color: #fff;
  text-decoration: none;
}
.breadcrumbs li a:hover {
  color: #ffffffad;
}
.breadcrumbs li + li::before {
  color: #ffffffad;
  content: "/";
  padding: 0 5px;
}

@media only screen and (max-width: 992px) {
  .heading {
    padding: 90px 0px 90px 0;
  }
}
.buttons_block {
  margin-top: 20px;
}

.discount_block {
  padding: 40px;
  border: 1px solid #ececec;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f6f9fc;
}

.order_block_title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.ic_sidebar {
  width: 50px;
  height: 50px;
  fill: #005684;
  margin-bottom: 20px;
}

.order_block_subtitle {
  line-height: 1.3;
  margin-bottom: 20px;
}

.btn-tr {
  padding: 30px 70px;
  border: 1px solid #005684;
  color: #005684;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-tr:hover {
  color: #fff;
  background: #005684;
}

.btn-catalog {
  padding: 30px 30px;
}

@media only screen and (max-width: 540px) {
  .btn-catalog {
    padding: 30px 20px;
  }

  .btn-tr {
    padding: 30px 0px;
    width: 100%;
    text-align: center;
  }
}
.buttons_block {
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.buttons_block .calc_price_btn {
  border-bottom: 1px solid #ececec;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
  background-color: #f6f9fc;
}
.buttons_block .calc_price_btn:last-child {
  border-bottom: none;
}
.buttons_block .calc_price_btn:hover {
  -webkit-box-shadow: 2px 2px 10px #ececec;
  box-shadow: 2px 2px 10px #ececec;
}
.buttons_block .calc_price_btn .ic_sidebar-small {
  width: 17px;
  height: 17px;
  fill: #005684;
  margin-right: 10px;
}

.tizers_page {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #f6f9fc;
  border: 1px solid #ececec;
}
.tizers_page .tizer_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.tizers_page .tizer_page:last-child {
  margin-bottom: 0;
}
.tizers_page .tizer_page .ic_tizer {
  width: 40px;
  height: 40px;
  fill: #005684;
  margin-right: 10px;
}
.tizers_page .tizer_page .tizer_title {
  font-weight: 700;
  line-height: 1.3;
  font-size: 16px;
}

.sidebar_info {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.3;
  font-style: italic;
}

.content {
  background: #fff;
  padding: 30px;
  margin-top: -60px;
  -webkit-box-shadow: 0 0 20px #00000014;
  box-shadow: 0 0 20px #00000014;
}
.content__banner {
  padding-bottom: 20px;
  border-bottom: 3px solid #005684;
}
.content__banner img {
  margin-top: 30px;
}
.content__bannerinf h2 {
  color: #005684;
  font-family: "Akrobat";
  font-size: 38px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
}
.content__info {
  margin-top: 20px;
}
.content__info h3 {
  margin: 20px 0;
  font-size: 26px;
  font-weight: 700;
}
.content__info .main-txt {
  padding: 20px 10px 30px 30px;
  margin: 20px 0;
  border-left: 3px solid #005684;
  background: #f6f9fc;
}
.content__info p {
  margin: 10px 0;
}
.content__info .bottom-aboutwrp {
  margin-top: 30px;
}
.content__info .bottom-about2 {
  text-align: end;
  font-size: 16px;
  opacity: 0.7;
  font-style: italic;
  margin-top: 30px;
}

.content--about {
  padding-top: 0;
}

.service_check {
  padding: 20px;
  background: #fff;
  border: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -60px;
}

/*.ic_serv {
    width: 70px;
    height: 70px;
    fill: $blue;
    flex-basis: 7%;
}*/
.service_check_text {
  line-height: 1.5;
  margin: 0 20px;
  -ms-flex-preferred-size: 63%;
  flex-basis: 63%;
  font-size: 14px;
}

.btn_check {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
}

article {
  padding: 30px 0;
}
article h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
}
article p {
  line-height: 1.5;
  padding: 5px 0;
}
article .text_info {
  background: #fafafa;
  padding: 20px 15px 20px 40px;
  border-left: 3px solid #005684;
  line-height: 1.5;
  margin: 20px 0;
}
article ul,
article ol {
  padding: 5px 10px 5px 40px;
  line-height: 1.5;
  list-style-type: disc;
}
article ul li,
article ol li {
  padding: 5px 0;
}
article ol {
  list-style-type: decimal;
}
article ol li {
  padding-left: 7px;
}

@media only screen and (max-width: 1200px) {
  .service_check {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .ic_serv {
    display: none;
  }

  .service_check_text {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .btn_check {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .forder-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .forder-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (max-width: 768px) {
  article {
    padding: 0 0;
  }

  .content--about {
    padding-top: 20px;
  }

  .content {
    padding: 15px;
  }
  .content__info h3 {
    font-size: 20px;
  }
  .content__bannerinf h2 {
    font-size: 20px;
  }
}
.ic_btn {
  width: 10px;
  height: 10px;
  fill: #f15a25;
  margin-left: 10px;
  margin-bottom: 3px;
}

.news {
  padding: 60px 0;
}
.news__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
.news__sm a {
  color: #282828;
  padding: 5px 10px;
  background: #f6f6f6;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.news__sm a:hover {
  color: #005684;
  background: #ececec;
}
.news h2 {
  margin-bottom: 30px;
}
.news p {
  line-height: 1.7;
  margin-bottom: 40px;
}

.news-item {
  -webkit-box-shadow: 0 0 20px #ececec;
  box-shadow: 0 0 20px #ececec;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: #fff;
}
.news-item__image {
  height: 170px;
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.news-item__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.news-item__image:hover::before {
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  left: 120%;
}
.news-item__image::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: "";
  width: 25%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.news-item__date {
  padding: 0 15px;
  font-size: 14px;
  color: #bdb9b9;
}
.news-item__title {
  color: #282828;
  padding: 30px 15px;
  display: block;
  line-height: 1.5;
  font-weight: 600;
  height: 104px;
  overflow: hidden;
}
.news-item__title:hover {
  color: #005684;
}

.right-block {
  padding: 20px;
  background: #fff;
  margin-top: -60px;
}

.cat-item {
  display: block;
  border-right: solid 1px #ececec;
  border-left: solid 1px #ececec;
  border-bottom: solid 3px #005684;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.cat-item:hover .cat-item__smallimage {
  opacity: 1;
}
.cat-item__img {
  height: 170px;
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.cat-item__img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cat-item__img:hover::before {
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  left: 120%;
}
.cat-item__img::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: "";
  width: 25%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.cat-item__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cat-item__title {
  color: #282828;
  padding: 0 15px;
  display: block;
  line-height: 1.5;
  font-weight: 600;
  overflow: hidden;
  height: 48px;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
}
.cat-item__title:hover {
  color: #005684;
}
.cat-item__smallimage {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  opacity: 0;
}
.cat-item__smallimage img {
  width: 100%;
}

.ic_catalog {
  width: 25px;
  height: 15px;
  fill: #005684;
}

@media only screen and (max-width: 576px) {
  .forder-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .right-block {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 700px;
}
.slider-wrapper .slider-thumb li {
  padding: 10px;
  border: 1px solid #ececec;
  margin-bottom: 5px;
  margin-right: 0px;
  height: 113px;
  width: 113px;
  position: relative;
}
.slider-wrapper .slider-thumb li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider-wrapper .slider-thumb .slick-prev3 {
  left: unset;
  top: 0.5em;
}
.slider-wrapper .slider-thumb .slick-nextt3 {
  top: unset;
  right: unset;
  bottom: -0.5em;
}
.slider-wrapper .slider-thumb .slick-prev3,
.slider-wrapper .slider-thumb .slick-nextt3 {
  z-index: 1;
  height: 1em;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  font-size: 1.5em;
  color: #fff;
  border: none;
}
.slider-wrapper .slider-thumb .slick-prev3::before,
.slider-wrapper .slider-thumb .slick-nextt3::before {
  content: "";
}
.slider-wrapper .slider-thumb .slick-prev3::hover,
.slider-wrapper .slider-thumb .slick-nextt3::hover {
  opacity: 0.5;
}
.slider-wrapper .slider-preview li {
  padding: 10px;
  width: 514px;
  height: 518px;
  border: 1px solid #ececec;
  margin-left: 5px;
}
.slider-wrapper .slider-preview li a {
  outline: none;
}
.slider-wrapper .slider-preview li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*
Медиа запросы для карточки товара*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-height: 750px;
  }
  .slider-wrapper .slider-thumb li {
    padding: 10px;
    border: 1px solid #ececec;
    margin-bottom: 5px;
    margin-right: 0px;
    width: 231px !important;
    height: 220px !important;
  }
  .slider-wrapper .slider-thumb li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .slider-wrapper .slider-thumb .slick-prev3 {
    left: unset;
    top: 0.5em;
  }
  .slider-wrapper .slider-thumb .slick-nextt3 {
    top: unset;
    right: unset;
    bottom: -0.5em;
  }
  .slider-wrapper .slider-thumb .slick-prev3,
.slider-wrapper .slider-thumb .slick-nextt3 {
    z-index: 1;
    height: 1em;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    font-size: 1.5em;
    color: #fff;
    border: none;
  }
  .slider-wrapper .slider-thumb .slick-prev3::before,
.slider-wrapper .slider-thumb .slick-nextt3::before {
    content: "";
  }
  .slider-wrapper .slider-thumb .slick-prev3::hover,
.slider-wrapper .slider-thumb .slick-nextt3::hover {
    opacity: 0.5;
  }
  .slider-wrapper .slider-preview li {
    padding: 10px;
    width: 700px;
    height: 720px;
    border: 1px solid #ececec;
    margin-left: 5px;
  }
  .slider-wrapper .slider-preview li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-height: 720px;
  }
  .slider-wrapper .slider-thumb li {
    padding: 10px;
    border: 1px solid #ececec;
    margin-bottom: 5px;
    margin-right: 0px;
    width: 231px !important;
    height: 220px !important;
  }
  .slider-wrapper .slider-thumb li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .slider-wrapper .slider-thumb .slick-prev3 {
    left: unset;
    top: 0.5em;
  }
  .slider-wrapper .slider-thumb .slick-nextt3 {
    top: unset;
    right: unset;
    bottom: -0.5em;
  }
  .slider-wrapper .slider-thumb .slick-prev3,
.slider-wrapper .slider-thumb .slick-nextt3 {
    z-index: 1;
    height: 1em;
    width: 100%;
    background-color: #000;
    opacity: 0.3;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    font-size: 1.5em;
    color: #fff;
    border: none;
  }
  .slider-wrapper .slider-thumb .slick-prev3::before,
.slider-wrapper .slider-thumb .slick-nextt3::before {
    content: "";
  }
  .slider-wrapper .slider-thumb .slick-prev3::hover,
.slider-wrapper .slider-thumb .slick-nextt3::hover {
    opacity: 0.5;
  }
  .slider-wrapper .slider-preview li {
    padding: 10px;
    width: 700px;
    height: 720px;
    border: 1px solid #ececec;
    margin-left: 5px;
  }
  .slider-wrapper .slider-preview li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media only screen and (max-width: 767px) {
  * {
    min-height: 0;
    min-width: 0;
  }

  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .slider-wrapper .slider-thumb {
    max-width: 100%;
  }
  .slider-wrapper .slider-thumb li {
    padding: 3px;
    border: 1px solid #ececec;
    margin-bottom: 5px;
    margin-right: 5px;
    max-height: 100px;
  }
  .slider-wrapper .slider-thumb li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .slider-wrapper .slider-thumb .slick-prev3 {
    top: 0.5em;
    left: 0;
  }
  .slider-wrapper .slider-thumb .slick-prev3 .fa::before {
    content: "\f104";
  }
  .slider-wrapper .slider-thumb .slick-nextt3 {
    top: 0.5em;
    right: 0;
  }
  .slider-wrapper .slider-thumb .slick-nextt3 .fa::before {
    content: "\f105";
  }
  .slider-wrapper .slider-thumb .slick-prev3,
.slider-wrapper .slider-thumb .slick-nextt3 {
    top: 0;
    width: 1em;
    height: 100px;
    border: none;
    position: absolute;
  }
  .slider-wrapper .slider-preview li {
    padding: 0px;
    border: 1px solid #ececec;
    margin-left: 0px;
  }
  .slider-wrapper .slider-preview li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media only screen and (max-width: 540px) {
  * {
    min-height: 0;
    min-width: 0;
  }

  .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-height: 800px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .slider-wrapper .slider-thumb {
    max-width: 100%;
    padding: 0 23px 0 27px;
    text-align: center;
  }
  .slider-wrapper .slider-thumb li {
    padding: 3px;
    border: 1px solid #ececec;
    margin-bottom: 5px;
    margin-right: 5px;
    max-height: 100px;
  }
  .slider-wrapper .slider-thumb li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .slider-wrapper .slider-thumb .slick-prev3 {
    top: 0.5em;
    left: 0;
  }
  .slider-wrapper .slider-thumb .slick-prev3 .fa::before {
    content: "\f104";
  }
  .slider-wrapper .slider-thumb .slick-nextt3 {
    top: 0.5em;
    right: 0;
  }
  .slider-wrapper .slider-thumb .slick-nextt3 .fa::before {
    content: "\f105";
  }
  .slider-wrapper .slider-thumb .slick-prev3,
.slider-wrapper .slider-thumb .slick-nextt3 {
    top: 0;
    width: 1em;
    height: 100px;
    border: none;
    position: absolute;
  }
  .slider-wrapper .slider-preview li {
    padding: 0px;
    border: 1px solid #ececec;
    margin-left: 0px;
    height: 350px;
  }
  .slider-wrapper .slider-preview li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.product-card {
  padding: 30px 20px;
  background: #fff;
  margin-top: -60px;
}

.infocard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.infocard_sticker {
  background: #005684;
  color: #fff;
  padding: 7px 15px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.infocard_marker {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.infocard_marker span {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.infocard_marker__green {
  color: green;
}
.infocard_marker__green span {
  background: green;
}

.ic-card {
  margin-right: 0;
}

.card-title h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.product_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.product_prices-new {
  font-size: 23px;
  margin-right: 15px;
  font-weight: 600;
}

.product_prices-old {
  color: darkgray;
  text-decoration: line-through;
  margin-right: 15px;
}

.product_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.questions_block {
  position: relative;
  padding: 10px;
  border: 1px solid #ececec;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.questions_block a:hover {
  opacity: 0.7;
}

.questions_block--text {
  padding: 7px;
  background: #fff;
  font-size: 13px;
  color: darkgray;
  line-height: 1.4;
}

.q_link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, #ffc328), to(#ff8d00));
  background: -o-linear-gradient(left, #ffc328 18%, #ff8d00 100%);
  background: linear-gradient(90deg, #ffc328 18%, #ff8d00 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ic_quest {
  width: 17px;
  height: 17px;
  fill: #fff;
}

hr {
  background-color: #ececec;
  opacity: 1;
}

.tizers-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tizers-card .tizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.tizer_img {
  margin-bottom: 10px;
}

.tizer_img img {
  max-width: 40px;
  height: auto;
}

.tizer_txt {
  line-height: 1.3;
  font-size: 14px;
}

.nav-card {
  margin-top: 30px;
}

.tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tables table {
  margin: 20px;
}
.tables table .end {
  text-align: end;
}

article,
.description_card,
.card-data__row {
  padding: 20px 0;
}
article table,
.description_card table,
.card-data__row table {
  margin: 20px;
}
article p,
.description_card p,
.card-data__row p {
  line-height: 1.5;
  margin-bottom: 7px;
}
article ul li,
.description_card ul li,
.card-data__row ul li {
  line-height: 1.5;
  margin: 7px;
}
article ul span,
.description_card ul span,
.card-data__row ul span {
  width: 7px;
  height: 7px;
  display: inline-block;
  background: #c76868;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 3px;
}
article .main_text,
.description_card .main_text,
.card-data__row .main_text {
  padding: 15px 15px 15px 40px;
  border-left: 3px solid #c76868;
  background: #ececec;
  margin: 15px 0;
  display: block;
}

.nav-tabs {
  border-bottom: 1px solid #ececec;
}

.ic_product {
  width: 50px;
  height: 50px;
  fill: #005684;
}

nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #f7f7f7;
  border-color: #fff #fff #fff;
  border-bottom: 3px solid #005684;
  font-weight: 600;
  padding: 15px 20px;
  cursor: pointer;
}

nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  font-size: 17px;
  cursor: pointer;
  padding: 15px 20px;
  color: gray;
}
nav-tabs .nav-item.show .nav-link:hover,
.nav-tabs .nav-link:hover {
  border-color: #fff #fff #005684 #fff;
}

nav-tabs .nav-item.show .nav-link:focus,
.nav-tabs .nav-link:focus {
  border-bottom: 3px solid #244d72;
}

.btn-product {
  background: #005684;
  color: #fff;
  font-family: "Akrobat", sans-serif;
  font-size: 24px;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-product:hover {
  background: #00456b;
}

.description_card ul {
  margin: 20px 0;
}

@media only screen and (max-width: 1200px) {
  .infocard {
    margin-top: 30px;
  }

  .product_prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tables {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tizers-card {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .tizers-card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 470px) {
  .questions_block {
    margin-top: 30px;
    margin-left: 0;
  }
}
.content {
  background: #fff;
  padding: 30px;
  margin-top: -60px;
}

.contact_wrp {
  margin: 20px 0;
}

.contact_title {
  color: #9D9D9D;
  margin-bottom: 20px;
  font-size: 14px;
}

.contact_phone {
  display: block;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #282828;
}
.contact_phone:hover {
  color: inherit;
}

.contact_info {
  line-height: 1.5;
}

.contact_mail {
  color: #282828;
}
.contact_mail:hover {
  color: #005684;
}

.block--contacts {
  margin: 30px 0;
}

.contact_txt {
  margin: 30px 0;
}

.office_img img {
  height: 456px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact_phone {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .office_img {
    margin: 15px 0;
  }
  .office_img img {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .contact_block3 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .contact_block2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .contact_block1 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
body.modal-open {
  padding-right: 0px !important;
}

html {
  overflow-y: scroll !important;
}

.compensate-for-scrollbar {
  padding-right: 0px !important;
}

textarea:focus {
  border: none;
  outline: none !important;
}

.modal-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.graypart {
  background-color: #f6f9fc;
}

.mc-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-content {
  position: relative;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

#watchme {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#watchme .btn-close {
  right: -30px;
}
#watchme .modal-content {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-title {
  font-family: "Akrobat", sans-serif;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #282828;
}

.modal-contacts {
  padding: 20px 40px;
}
.modal-contacts__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.modal-contacts__contacts a {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  color: #282828;
  margin-bottom: 5px;
}
.modal-contacts__bottom {
  margin-top: 40px;
  font-size: 12px;
  display: block;
}

.files {
  font-size: 10px;
}

.form-group_modal {
  padding: 40px 40px;
}
.form-group_modal label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-group_modal label span {
  color: red;
}

.form_input__modal {
  padding: 13px 0px;
  border: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  border-radius: 0px;
  width: 100%;
  background: transparent;
}
.form_input__modal:focus {
  border-bottom: 2px solid #005684;
}

.form_group__bottom-modal {
  padding: 0px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_btn__modal {
  padding: 17px 40px;
  background: #005684;
  color: #fff;
  border: 1px solid #005684;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  margin-bottom: 15px;
  border-radius: 4px;
}
.form_btn__modal:hover {
  background: #fff;
  color: #244d72;
  border: 1px solid #005684;
}

.politika_modal {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.close-menu__modal {
  position: absolute;
  right: 15px;
  top: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 900;
}

.close-menu__modal span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #282828;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.close-menu__modal span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.close-menu__modal span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-menu__modal span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-menu__modal span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.reg_tabs {
  margin: 0 40px;
}

.modal-header_reg {
  border-bottom: 1px solid transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0;
}

.modal-header {
  padding: 40px 20px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-header h5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
.modal-header h5 span {
  font-weight: 300;
  font-size: 18px;
}
.modal-header a {
  display: block;
  font-family: "Arial";
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
}

.modal-body {
  position: relative;
  z-index: 700;
  padding: 0;
}

#success,
#success2,
#success3,
#success4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: none;
  text-align: center;
  padding: 40px;
  display: none;
  z-index: 800;
}

.text_success {
  font-size: 34px;
  line-height: 1.5;
}

.radio_title {
  font-size: 12px;
  font-weight: 600;
}

.radio_mtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.radio_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
}
.radio_block input,
.radio_block .radio_title,
.radio_block .radio_old-price {
  margin-right: 10px;
}

.radio_old-price {
  font-family: "Arial";
  text-decoration: line-through;
  opacity: 0.5;
}

.radio_new-price {
  font-family: "Arial";
  font-weight: 700;
}

.form_group__bottom-modal p {
  font-size: 11px;
  margin-left: 10px;
}

.modal-content .custom_chek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0px;
}
.modal-content .custom_chek p {
  font-size: 11px;
  margin-left: 10px;
  line-height: 1.3;
}

@media only screen and (max-width: 568px) {
  .modal-title {
    font-size: 22px;
  }

  .form-group_modal,
.form_group__bottom-modal {
    padding: 20px 20px;
  }

  .modal-header {
    padding-top: 60px;
  }

  .modal_heading {
    padding: 0px 0px;
    margin-bottom: 20px;
  }

  .text_success {
    font-size: 24px;
    line-height: 1.5;
  }
}
.modal-content {
  height: auto !important;
  overflow: hidden !important;
}
/*# sourceMappingURL=main.css.map */
