body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 20px;
   margin: 0;
   text-align: left;
}
#wb_TextMenu1 span
{
   margin: 0 30px 0 0px;
}
#wb_TextMenu1
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 953px;
   height: 23px;
   z-index: 0;
}
