@font-face
{
   font-family: "Material Icons";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: "liga";
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
a.phone
{
   color: #0B1F33;
   font-weight: bold;
   text-decoration: none;
}
a.phone:visited
{
   color: #0B1F33;
   text-decoration: none;
}
a.phone:active
{
   color: #0B1F33;
   text-decoration: none;
}
a.phone:hover
{
   color: #E53734;
   text-decoration: none;
}
a.mail-header
{
   color: #66727F;
   text-decoration: none;
}
a.mail-header:visited
{
   color: #66727F;
   text-decoration: none;
}
a.mail-header:active
{
   color: #66727F;
   text-decoration: none;
}
a.mail-header:hover
{
   color: #E53734;
   text-decoration: none;
}
a.menu-top
{
   color: #FFFFFF;
   text-decoration: none;
   -webkit-transition: all 300ms linear;
   -moz-transition: all 300ms linear;
   transition: all 300ms linear;
}
a.menu-top:visited
{
   color: #FFFFFF;
   text-decoration: none;
}
a.menu-top:active
{
   color: #FFFFFF;
   text-decoration: none;
}
a.menu-top:hover
{
   color: #E53734;
   text-decoration: none;
}
a.phoneform
{
   color: #FFFFFF;
   text-decoration: none;
}
a.phoneform:visited
{
   color: #FFFFFF;
   text-decoration: none;
}
a.phoneform:active
{
   color: #FFFFFF;
   text-decoration: none;
}
a.phoneform:hover
{
   color: #FFFFFF;
   text-decoration: none;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
