@charset "UTF-8";
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Playfair-Display";
  src: url("../fonts/../fonts/Playfair-Display.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/../fonts/Open-Sans.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
 * Сброс стилей
 **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #202020;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  min-width: 320px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto 0 374px;
  box-sizing: border-box;
}

aside {
  position: fixed;
  min-height: 100vh;
  background: #202020;
  left: 0;
  top: 0;
  width: 359px;
  display: flex;
  flex-direction: column;
  border-right: 15px solid #4F4F4F;
  box-shadow: 15px 0 0 #767676;
  text-align: center;
  padding: 57px 49px 0 82px;
  z-index: 20;
}
aside .footer {
  margin-top: auto;
}

@media only screen and (max-width: 386px) {
  aside {
    width: 100%;
    border: none;
  }
}
.visible {
  display: block;
  box-shadow: 15px 0 0 #767676, 15px 0 30px #4f4f4f;
}

@media only screen and (max-width: 1200px) {
  main {
    margin: 0 auto 0 auto;
    padding: 0 0;
  }
}
@media only screen and (max-width: 1200px) {
  aside {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  aside {
    padding: 17px 17px 0 17px;
  }
}
/*# sourceMappingURL=global.css.map */
