.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.language img {
  width: 23px;
  height: 18px;
  margin-right: 5px;
}

.lang {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #eee;
  line-height: 25px;
  font-size: 14px;
  padding: 7px 10px;
  cursor: pointer;
  position: relative;
  border: 1px solid #ee6969;
  border-radius: 4px;
}

.lang:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

ul.select {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 50px;
  z-index: 70;
  background: #fff;
  -webkit-box-shadow: 0 3px 3px #00000008;
  box-shadow: 0 3px 3px #00000008;
  border-radius: 0 0 4px 4px;
}

ul.select > li {
  width: 110px;
  line-height: 25px;
  font-size: 14px;
  padding: 7px 10px;
  cursor: pointer;
  list-style-type: none;
}

.fixed .menu-item {
  background: #fff;
  -webkit-box-shadow: 0 3px 3px #00000008;
  box-shadow: 0 3px 3px #00000008;
}

.menu-item a {
  color: #282828;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fixed .lang,
.fixed .menu-item a {
  color: #282828;
}

@media only screen and (max-width: 769px) {
  .lang {
    color: #282828;
  }
}
header {
  background: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.header--page {
  min-height: auto;
}

.header__footer {
  margin-top: auto;
}

hr {
  background-color: #fff;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
}
.logos__blue {
  display: none;
}
.logos__left .logos__white img {
  width: 150px;
}

.heading {
  padding-right: 100px;
  margin-top: 7%;
}
.heading h1 {
  color: #fff;
  font-family: "Akrobat", sans-serif;
  font-weight: 700;
  font-size: 73px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.heading p {
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  margin-bottom: 100px;
  line-height: 1.5;
}

.bottom {
  background: #261f69;
  color: #fff;
}
.bottom__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom__btn {
  border-right: 1px solid #ffffff3b;
  border-left: 1px solid #ffffff3b;
  padding: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 40px;
}
.bottom__btn:hover {
  background: #ff2f2c;
}
.bottom__btn .ic_down {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.bottom__tizers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.bottom__tizers .ic_header {
  fill: #fff;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.bottom__tizer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bottom__tizer:last-child {
  margin-right: 0;
}
.bottom__text {
  line-height: 1.3;
  display: block;
  position: relative;
}
.bottom__text::after {
  content: "";
  position: absolute;
  left: -10px;
  top: -20px;
  display: block;
  width: 10px;
  height: 10px;
  background: #ff2f2c;
  border-radius: 50%;
  z-index: 200;
}

@media only screen and (max-width: 1200px) {
  .bottom__tizer {
    margin: 15px 0;
  }
  .bottom__btn {
    border-top: 1px solid #ffffff3b;
    border-bottom: 1px solid #ffffff3b;
  }
}
@media only screen and (max-width: 992px) {
  .heading {
    padding-right: 0;
  }
  .heading h1 {
    font-size: 54px;
  }
}
@media only screen and (max-width: 608px) {
  .heading h1 {
    font-size: 28px;
  }
  .heading p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
  }

  .logos__white img {
    max-width: 50%;
  }

  .logos__right .logos__white {
    text-align: end;
  }

  .bottom__wrp .bottom__btn {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
  .bottom__wrp .bottom__tizers {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
  }
  .bottom__text {
    font-size: 14px;
  }
  .bottom__tizer .ic_header {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
  .bottom__tizer .bottom__text {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
  .bottom__tizer .bottom__text::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0px;
    display: block;
    width: 5px;
    height: 5px;
  }
  .bottom__btn {
    padding: 15px;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  border-top: 1px solid #ececec;
  padding: 40px 0;
}
.footer__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__wrp .footer__logo img {
  width: 150px;
}
.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.footer__center a {
  margin: 10px 0;
  display: block;
  font-weight: 300;
  color: #434343;
}
.footer__center a:hover {
  color: #ff2f2c;
}

@media only screen and (max-width: 622px) {
  .footer__wrp {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__logo {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__center {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .lines {
    display: none;
  }
}
.wrapper {
  position: relative;
}

.header-wrap {
  position: relative;
}

.mm-menu {
  z-index: 90;
}

.mega-sub {
  margin-bottom: 30px;
}

.mega-sub i {
  margin-right: 5px;
}

.sf-menu {
  position: static;
  float: none;
}

.sf-menu .sf-mega {
  background-color: #fff;
  padding: 25px 0;
}

.sf-menu .sf-mega ul {
  display: block;
  float: none;
  position: relative;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sf-menu li {
  white-space: normal;
  position: static;
}

.sf-menu li a:hover {
  color: #ff2f2c;
}

.sf-menu > li > ul {
  width: 220px;
  left: auto;
}

.sf-menu > li > ul li .sf-with-ul::after {
  font-family: "FontAwesome";
  content: "\f105";
  right: 1em;
  position: absolute;
}

.dropdwn:after {
  font-family: "FontAwesome";
  content: "\f105";
  right: 25px;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 13px;
  top: 13px;
}

.responsive-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
}

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}

.toggle-mnu {
  float: left;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}

.sf-menu a {
  color: #333;
  background: transparent;
  font-weight: 700;
}

.sf-menu > li {
  background: transparent;
}

.sf-menu > li > a {
  padding: 10px 40px 30px 0;
  border-bottom: 5px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
  font-size: 18px;
  background: transparent;
}

.sf-menu > li > a + * {
  border-top: #ff2f2c solid 5px;
}

.sf-menu > li > a + * a {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sf-menu > li > a + * a:hover {
  color: #ff2f2c;
}

.sf-menu > li:hover > a {
  background-color: transparent;
}

.sf-menu li:hover {
  background: transparent;
  border: none;
}

.sf-menu li {
  background: transparent;
  border: none;
}

.sf-menu > li > a {
  border: none !important;
}

.sf-menu .container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.sf-menu .row {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.sf-menu .col-lg-1,
.sf-menu .col-lg-10,
.sf-menu .col-lg-11,
.sf-menu .col-lg-12,
.sf-menu .col-lg-2,
.sf-menu .col-lg-3,
.sf-menu .col-lg-4,
.sf-menu .col-lg-5,
.sf-menu .col-lg-6,
.sf-menu .col-lg-7,
.sf-menu .col-lg-8,
.sf-menu .col-lg-9,
.sf-menu .col-md-1,
.sf-menu .col-md-10,
.sf-menu .col-md-11,
.sf-menu .col-md-12,
.sf-menu .col-md-2,
.sf-menu .col-md-3,
.sf-menu .col-md-4,
.sf-menu .col-md-5,
.sf-menu .col-md-6,
.sf-menu .col-md-7,
.sf-menu .col-md-8,
.sf-menu .col-md-9,
.sf-menu .col-sm-1,
.sf-menu .col-sm-10,
.sf-menu .col-sm-11,
.sf-menu .col-sm-12,
.sf-menu .col-sm-2,
.sf-menu .col-sm-3,
.sf-menu .col-sm-4,
.sf-menu .col-sm-5,
.sf-menu .col-sm-6,
.sf-menu .col-sm-7,
.sf-menu .col-sm-8,
.sf-menu .col-sm-9,
.sf-menu .col-xs-1,
.sf-menu .col-xs-10,
.sf-menu .col-xs-11,
.sf-menu .col-xs-12,
.sf-menu .col-xs-2,
.sf-menu .col-xs-3,
.sf-menu .col-xs-4,
.sf-menu .col-xs-5,
.sf-menu .col-xs-6,
.sf-menu .col-xs-7,
.sf-menu .col-xs-8,
.sf-menu .col-xs-9 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.menu-new-item {
  margin-bottom: 30px;
}

.menu-new-item h3 {
  margin: 15px 0;
}

.menu-new-item a {
  padding: 0;
  font-size: 18px;
  text-decoration: underline;
  color: #ff2f2c;
}

.menu-new-item p {
  font-size: 14px;
  color: #666;
}

.sf-menu > li > a + * .menu-new-item a {
  border-bottom: none;
}

.sf-menu > li > a + * .menu-new-item a:hover {
  color: #333;
}

.mega-sub img {
  display: inline-block;
  margin-right: 10px;
  max-width: 30px;
  height: auto;
}

.small-sub img {
  display: inline-block;
  margin-right: 10px;
  max-width: 30px;
  height: auto;
}

.mega-sub a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.small-sub a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile_item {
  display: none;
}

html.mm-pagedim.mm-opening #mm-blocker,
html.mm-pagedim-white.mm-opening #mm-blocker,
html.mm-pagedim-black.mm-opening #mm-blocker {
  opacity: 0.3;
  -webkit-transition: opacity 0.4s ease 0.4s;
  -o-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
html.mm-pagedim.mm-opening #mm-blocker::after,
html.mm-pagedim-white.mm-opening #mm-blocker::after,
html.mm-pagedim-black.mm-opening #mm-blocker::after {
  content: "";
  background: url(../img/ic-close.svg) no-repeat 0 0;
  color: #fff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 99999;
  top: 10px;
  left: -30px;
}

@media only screen and (max-width: 990px) {
  .on {
    position: fixed;
    left: 0;
    top: 0;
    width: 20px;
    background: #00000073;
    margin-top: 30px;
    height: 20px;
    color: #fff;
    padding-left: 3px;
    display: none;
  }
  .on span:after,
.on span:before {
    background-color: #fff;
  }

  .header_wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: fixed;
    right: 15px;
  }

  .top-menu_block,
.search_block {
    display: none;
  }

  .dropdwn:after {
    display: none;
  }

  .mobile_item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .top-mnu ul {
    display: none;
  }

  .header-wrap {
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 991px) {
  .toggle-mnu {
    display: none;
  }

  .toggle-mnu,
#mobile-menu,
html.mm-blocking #mm-blocker {
    display: none;
  }

  html.mm-opening .mm-slideout {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.mega-sub {
  top: 0px !important;
}

.toggle-mobile {
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 0;
  display: none;
}

@media only screen and (max-width: 991px) {
  .fixed .toggle-mobile {
    display: inline-block;
  }
}
.partners-title {
  font-size: 42px;
  font-family: "Akrobat", sans-serif;
  color: #000;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 80px 0 60px 0;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.partners__item {
  margin-right: -1px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  border: 1px solid #ececec;
}
.partners__img {
  border-bottom: 1px solid #ececec;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 128px;
}
.partners__desc {
  border-top: 1px solid #ececec;
  margin-top: -1px;
  padding: 30px;
  line-height: 1.5;
}

@media only screen and (max-width: 992px) {
  .partners {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .partners__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-top: -1px;
  }
}
@media only screen and (max-width: 576px) {
  .partners-title {
    font-size: 28px;
    margin: 40px 0 20px 0;
  }

  .partners__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
.customers {
  margin-top: 80px;
  border-top: 1px solid gray;
}
.customers__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.customers__img {
  width: 100%;
}
.customers__img img {
  width: 100%;
  display: block;
}
.customers__title {
  position: absolute;
  font-size: 32px;
  font-family: "Akrobat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

@media only screen and (max-width: 992px) {
  .customers__title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .customers__title {
    font-size: 24px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .customers__title {
    font-size: 24px;
  }
}
.cloud {
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  width: 100%;
  /*   padding-bottom: 56.25%;*/
  /* height: 0;*/
  background: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.cloud h4 {
  padding-right: 100px;
  z-index: 30;
  position: relative;
  line-height: 1.3;
}
.cloud h4 span {
  color: #fff;
  background: #261f69;
}
.cloud p {
  position: relative;
  z-index: 30;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 241px;
  line-height: 1.5;
}
.cloud__block {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid gray;
  position: relative;
  z-index: 20;
}
.cloud__block img {
  position: relative !important;
  width: 160px !important;
  height: 32px !important;
}
.cloud__subtitle {
  font-family: "Akrobat";
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.cloud__logo {
  text-align: end;
}
.cloud__list {
  line-height: 2;
  margin-bottom: 40px;
}

.cloud img {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes animCloud {
  from {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes animCloud2 {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes animCloud2 {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.cloud1 {
  -webkit-animation: animCloud2 70s infinite linear;
  animation: animCloud2 70s infinite linear;
}

.cloud2 {
  -webkit-animation: animCloud 40s infinite linear;
  animation: animCloud 40s infinite linear;
}

.cloud3 {
  -webkit-animation: animCloud 60s infinite linear;
  animation: animCloud 60s infinite linear;
}

.cloud4 {
  -webkit-animation: animCloud 80s infinite linear;
  animation: animCloud 80s infinite linear;
}

@media only screen and (max-width: 1400px) {
  .cloud {
    background-position-x: -400px;
  }
}
@media only screen and (max-width: 576px) {
  .cloud {
    margin-top: 40px;
  }
  .cloud h4 {
    padding-right: 0;
  }
  .cloud p {
    font-size: 18px;
    margin-bottom: 60px;
  }
}
.tizers {
  margin: 60px 0 60px 40px;
}
.tizers hr {
  margin: 40px 0;
  background-color: lightgray;
  display: block;
}

.tizer {
  margin-bottom: 30px;
}
.tizer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tizer__top img {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
  margin-right: 15px;
}
.tizer__title {
  font-size: 26px;
  line-height: 1.4;
  font-family: "Akrobat", sans-serif;
  margin-bottom: 30px;
}
.tizer__bottom {
  line-height: 1.5;
}

@media only screen and (max-width: 576px) {
  .tizers-wrp {
    margin: 40px 0;
  }

  .tizers {
    margin: 30px 0 30px 0px;
  }
  .tizers hr {
    margin: 20px 0;
  }

  .tizer {
    margin-bottom: 20px;
  }
  .tizer__top {
    margin-bottom: 0px;
  }
  .tizer__top img {
    width: 30px;
  }
  .tizer__title {
    font-size: 21px;
    margin-bottom: 20px;
  }
}
.about {
  overflow: hidden;
  position: relative;
}
.about__wrp {
  position: relative;
}
.about__img {
  position: absolute;
  top: 0;
  right: 0;
}
.about__content {
  padding: 100px 40px;
}
.about__content::before {
  left: 0;
  background-position: right top;
  content: "";
  display: block;
  width: 2000px;
  position: absolute;
  top: 0;
  background: #261f69;
  z-index: -1;
  bottom: 0;
}
.about__content h2 {
  font-family: "Akrobat", sans-serif;
  font-size: 58px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #fff;
}
.about__content p {
  font-size: 18px;
  color: #fff;
  opacity: 0.5;
  line-height: 1.5;
}

@media only screen and (max-width: 1200px) {
  .about__img {
    position: relative;
  }
  .about__img img {
    display: block;
  }
  .about__content {
    padding: 40px 30px;
  }
  .about__content h2 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  .about__content p {
    font-size: 16px;
    line-height: 1.4;
  }
}
@media only screen and (max-width: 992px) {
  .about__content {
    padding: 20px 20px;
  }
  .about__content h2 {
    margin-bottom: 15px;
    font-size: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .about__content h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.video-bg {
  z-index: 1;
  background: url(../img/poster.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  display: block;
}

.video-bg > video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.contacts {
  margin-top: 80px;
  margin-bottom: 60px;
}
.contacts h4 {
  font-size: 51px;
}
.contacts p {
  margin: 7px 0;
}
.contacts__fade {
  position: absolute;
  background: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
}
.contacts__info {
  padding: 40px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  line-height: 1.7;
  font-size: 18px;
  font-weight: 300;
}
.contacts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__left {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}
.contacts__right {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  font-weight: 600;
  line-height: 2;
}
.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__email .ic_contacts {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}
.contacts__email a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 40px;
}
.contacts__email a:hover {
  color: #fff;
}
.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.contacts__button--red {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  background: #ff2f2c;
  color: #fff;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-right: 1px solid #ff2f2c;
}
.contacts__button--red:hover {
  background: #261f69;
  color: #fff;
  border-right: 1px solid #fff3;
}
.contacts__button--phone {
  font-family: "Akrobat", sans-serif;
  color: #fff;
  font-size: 39px;
  background: #261f69;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contacts__button--phone:hover {
  color: #fff;
}
.contacts__button--ic, .contacts__button--mail {
  background: #261f69;
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contacts__button--mail {
  border: 2px solid #261f69;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.contacts__button--ic {
  border-right: 1px solid #fff3;
  border-left: 1px solid #fff3;
}
.contacts .ic_btn {
  fill: #fff;
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 768px) {
  .video-bg {
    height: 700px;
  }

  .contacts {
    margin-top: 60px;
  }
  .contacts h4 {
    font-size: 26px;
  }
  .contacts__info {
    padding: 20px;
    font-size: 16px;
  }
  .contacts__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contacts__left {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .contacts__right {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 30px;
  }
  .contacts__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__button--red {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    padding: 30px 20px;
    font-size: 16px;
  }
  .contacts__button--phone {
    font-size: 26px;
  }
}
@media only screen and (max-width: 492px) {
  .video-bg {
    height: 850px;
  }

  .contacts__info {
    font-size: 16px;
  }
  .contacts__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .contacts__button--red {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .contacts__button--phone {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    padding: 20px 20px;
    font-size: 26px;
  }
  .contacts__button--ic {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
  }
  .contacts__button--mail {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .contacts .ic_btn {
    width: 15px;
    height: 15px;
  }
}
.heading-page {
  background: #261f69;
  padding: 30px 0px 90px 0;
}
.heading-page h1 {
  font-family: "Akrobat", sans-serif;
  font-size: 38px;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 16px;
  color: #ffffffa6;
}
.breadcrumbs li a {
  color: #fff;
  text-decoration: none;
}
.breadcrumbs li a:hover {
  color: #ffffffad;
}
.breadcrumbs li + li::before {
  color: #ffffffad;
  content: "/";
  padding: 0 5px;
}

.content__wrp {
  background: #ffff;
  -webkit-box-shadow: 0 0 20px #00000012;
  box-shadow: 0 0 20px #00000012;
  margin-top: -60px;
  padding: 20px;
}

article {
  padding: 20px;
}
article h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
article p {
  margin: 7px 0;
  line-height: 1.5;
}
article .main_text {
  margin: 15px 0;
  padding: 15px 15px 15px 40px;
  border-left: 3px solid #ff2f2c;
  background: #fcfcfc;
}
article .text_block {
  margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
  article {
    padding: 0px;
  }
  article h2 {
    font-size: 20px;
  }
}
.contacts__page {
  font-size: 18px;
  line-height: 1.5;
}
.contacts__page hr {
  background-color: lightgray;
}
.contacts__page .page-email a {
  color: #434343;
}
.contacts__page p {
  margin: 7px 0;
}

.ic-page {
  fill: #ff2f2c !important;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #ececec;
}
.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: -1px;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom: 1px solid #ececec;
}
.projects__desc {
  padding: 20px;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  line-height: 1.5;
  border-right: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.projects__desc h2 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 8px;
}
.projects__desc p {
  opacity: 0.7;
  font-size: 16px;
}
.projects__img {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  padding: 20px;
}

@media only screen and (max-width: 576px) {
  .projects__desc {
    padding: 15px;
  }
  .projects__desc h2 {
    font-size: 16px;
  }
}