title = "Это страница конкретной категории"
url = "/catalog/:cat_slug"
layout = "default"
is_hidden = 0

[myCatalog]
==
<!--<h1>Это то что ты подключил компонент.</h1>

теперь в переменной categories твои категории лежат.


{% for item in categories %}
<p><a href='/catalog/{{ item.slug }}'>{{ item.cat_title }}</a></p>
{% for product in item.products %}
<p>{{product.prod_title}}</p>
{%endfor%}
{% else %}
Категории отсутствуют
{% endfor %}






Теперь если мы загрузили категорию, то вот она:


<p><a href='/catalog/{{ category.slug }}'>{{ category.cat_title }}</a></p>

{{ category.cat_title }}-->


<p><a href='/catalog/{{ item.slug }}'>{{ category.cat_title }}</a></p>
