body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Image1 {
   vertical-align: top;
}
#Image1 {
   border: 0px solid #000000;
   height: 100%;
   left: 0;
   margin: 0;
   padding: 0;
   top: 0;
   width: 100%;
}
#wb_Image1 {
   height: 464px;
   left: 234px;
   position: absolute;
   top: 42px;
   width: 556px;
   z-index: 0;
}
@media only screen and (max-width: 1023px) {
body {
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Image1 {
   display: inline;
   height: 260px;
   left: 0px;
   margin: 0;
   padding: 0;
   top: 15px;
   visibility: visible;
   width: 312px;
}
}
